*{
    margin: 0;
    padding: 0;
    
}
section {
    
    background-color: firebrick;
    width: 150vw;
    height: 150vh;
    
}

div {
    display: inline-block;
    margin: 1em;
    border: 2px solid;
    padding: 1em;
    border-radius: 1em;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 5px 10px 20px;
    
}